
h1{
	padding-top:30px;
	padding-bottom: 20px;
	color:grey;
}

label{

	width: 100px;
	display:inline-block;
}

input{
	background-color: lightblue;

}
	
label{
	font-weight: bold;}

.container{
border-radius: 40px;
border: solid #000;
border-width: 1px;
padding: 10px;

}

